@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

*{
    margin: 0;
    padding: 0;    
}

$primary: #15141A; 
$secondary: #1A1A22;
$terciary: #1F1E24;
$quaternary: #F5CB37;
h1, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
hr{
    color: $quaternary;
}
.App h1, p {
    color: $quaternary;
    font-family: 'Rubik', sans-serif;
    margin-left: 30px;
    margin-top: 30px;
}

.nav-bg {
    background-color: $primary;    
    padding: 1rem 1rem;
    border-bottom: 1px solid $primary;
    h3 {
        font-size: 1.4rem;
        color: $quaternary;
    }
    h6 {
        color: $quaternary;
        font-size: .8rem;
    }
    span {
        color: $primary;
        font-size: .8rem;
    }
}

.navbar-text {
    color: $primary;
    font-size: .8rem;
    
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: $terciary;
    
}

.sidebar {
    width: 18rem;
    height: 100vh;
    border-right: 1px solid $primary;
    background-color: $secondary;
    ul {
        list-style: none;
        padding: 1rem 1.2rem;
        li {
            margin-bottom: 1rem;
            a {
                
                text-decoration: none;
                &.active{
                    color: $primary;
                    background-color: $quaternary;
                    font-weight: 500;
                }
            }
        }
    }
}
a:hover{
    color: #ffff;
}
.flex {
    display: flex;
}

.sidebar-links {    
    color: $quaternary;
    font-size: .8rem;
}


span .menu-estilo {
    color: $primary !important;
}
.menu-nav {
    background-color: $quaternary;
    
}
h2 {
    font-family: 'Rubik Mono One', sans-serif;
    color: $quaternary;

}
.logo {
    font-family: 'Rubik Mono One', sans-serif;
    color: $quaternary;
    width: 10rem;
    height: auto;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
}